---
layout: default 
---

<link rel="stylesheet" href="/assets/css/markdown.css">
<link rel="stylesheet" href="/assets/css/vs-syntax.css">
<link rel="stylesheet" href="/assets/css/index.css">
<script src="/assets/lib/jquery/jquery-ias.min.js"></script>

<div class="row">

  <div class="col-lg-2 col-md-2"> </div>

  <div class="col-lg-8 col-md-8">
    <div id="posts">
      {% for post in paginator.posts %}
      <div class="post paper">

        <h3 class="header">
          <a class="feature-link" href="{{post.url}}">{{ post.title }}</a>
          <div class="pull-right text-muted">
            {% include date.html post=post %}
          </div>
        </h3>

        <p class="meta">
          {% include categories.html post=post %}
          {% include tags.html post=post %}
        </p>

        <div class="md">{{ post.content | split:'<!--more-->' | first }}</div>
      </div>
      {% endfor %}
    </div>

    <!-- Pagination -->
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.next_page %}
      <li class="previous"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
        Older</a></li>
      {% else %}
      <li class="previous disabled"><a>&larr; Older</a></li>
      {% endif %}

      {% if paginator.previous_page %}
      <li class="next"><a
          href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer &rarr;</a></li>
      {% else %}
      <li class="next disabled"><a>Newer &rarr;</a></li>
      {% endif %}
    </ul>
    {% endif %}
    {% include latex.html %}
  </div>
  <!--sidebar-->
  <div class="col-lg-2 col-md-2"> </div>
</div>

{% include moment.html %}

<script>
  $(function () {
    var ias = $.ias({
      container: '#posts',
      item: '.post',
      pagination: '.pager',
      next: '.pager .previous a'
    });
    ias.on('loaded', function (data, items) {
      for (var i in items) {
        update_moment(items[i]);
      }
    });
    ias.extension(new IASSpinnerExtension({src: '/assets/img/loading.gif'}));
    ias.extension(new IASNoneLeftExtension({
      text: 'No more posts.',
      html: '<div class="ias-noneleft" style="text-align: center;color:#fff">{text}</div>'
    }));
  });
</script>
